input {
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 9px;
  margin-top: 10px;
  margin-left: 50px;
}

h1 {
  text-align: center;
  font-family: "Roboto";
}

html {
  font-size: 20px;
}

body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
  background-color: #eba9ff;
}

.item {
  display: none;
}

.slider {
  max-width: 1000px;
  position: relative;
  margin: auto;
}